# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/

# Envs
.venv/
venv/
env/

# Editors/OS
.vscode/
.idea/
.DS_Store

# Playwright cache (por si se genera localmente)
playwright/.cache/

# Logs temporales
*.log
tmp/

